body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.password-container{
    background-color: aquamarine
    ;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
}
.input-container{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    letter-spacing: 2px;
}
.input::placeholder{
    letter-spacing: 0px;

}
.fa-regular{
    cursor: pointer;
    opacity: .3;
}
.fa-regular:hover{
    opacity: 0.7;
}
.btn{
   padding: 6px 12px;
   border-radius: 10px;
   margin-top: 10px;
   border: none;
   background-color: black;
   color: white;
}
.btn:hover{
    background-color: #252424;
}
.btn:active{
    transform: scale(0.95);
}
.alert-container{
    position: fixed;
    width: 250px;
    height: 40px;
    background-color: lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: 0.4s;
}
.active.alert-container{
    right: -300px;
}